option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    COUCH_USER: "username"
    COUCH_PASSWORD: "password"
    COUCH_HOST: "https://USERNAME.cloudant.com"
    UNDERWORLD_DATABASE: "underworld_dev"
    DB_UPDATES_SQS_QUEUE: "underworld_dev_db_updates"
    SECRET_KEY: "b'\xd7c\x08La\xcd\xbf\x16*\x82\x99\x8b\x92M\xfc\x1b\xaa\x07\x0e\x85M5e\xf6'"
