option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COUCH_USER
    value: "username"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COUCH_PASSWORD
    value: "password"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COUCH_HOST
    value: "https://USERNAME.cloudant.com"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: UNDERWORLD_DATABASE
    value: "underworld_dev"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_UPDATES_SQS_QUEUE
    value: "underworld_dev_db_updates"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SECRET_KEY
    value: "b'\xd7c\x08La\xcd\xbf\x16*\x82\x99\x8b\x92M\xfc\x1b\xaa\x07\x0e\x85M5e\xf6'"